{% extends "auctions/layout.html" %}

{% block body %}
    <h3>Listing: {{list.title}}</h3>
    <div class="card mb-3">
        <div class="row no-gutters">
        <div class="col-md-4">
            <img src="http://www.fillster.com/images/pictures/10p.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">    
                <h6 class="card-title"><b>Price: ${{ list.price }}</b></h5>
                <p class="card-text">{{ list.description }}</p>
                <p class="card-text">Created by: {{list.owner.username}}</p>
                <h6 class="card-title"><b>Bids:</b></h5>
                <ol>
                    {% for bid in bids %}
                    <li>
                        <p class="card-text">Price: {{bid.price}}</p>
                        <p class="card-text">Bidder: {{bid.bidder}}</p>
                    </li>
                    {% empty %}
                        <p class="card-text">No bids yet</p>
                    {% endfor %}
                </ol>
                {% if user.is_authenticated %}
                <h6 class="card-title">Make a bid:</h6>
                {% if prince %}
                <div class="alert alert-warning" role="alert">
                    Your bid should be more than the current price of the listing!
                </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit">
                </form>
                {% else %}
                <a href="{% url 'login' %}">Log in to make a bid</a>
                {% endif %}
                <p class="card-text"><small class="text-muted">{{ list.date }}</small></p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
