{% extends "auctions/layout.html" %}

{% block body %}
    {% if not no_bids and user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {% if not watch %}
            <input type="submit" name="watchlist" value="Watchlist" class="btn btn-outline-secondary">
            {% else %}
            <input type="submit" name="watchlist" value="Watchlist" class="btn btn-secondary">
            {% endif %}
        </form>
    {% endif %}
    <h3>Listing: {{list.title}}</h3>
    <img src="{{ list.img }}" alt="...">
    <p class="card-text">{{ list.description }}</p>
    <h5 class="card-title"><b>Price: ${{ list.price }}</b></h5>
    {% if prince %}
        <div class="alert alert-warning" role="alert">
            Your bid should be more than the current price of the listing!
        </div>
    {% endif %}
    
    {% if user.is_authenticated and not no_bids %}
        <h6 class="card-title">Make a bid:</h6>
        {{bids}} bids made so far.
        {% if yours %}
        Your bid is current bid
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Place Bid" class="btn btn-primary" name="bid_on">
        </form>
    {% endif %}
    {% if user.is_authenticated and no_bids %}
    <h6 class="card-title"><b>Bids:</b></h5>
        <ol>
            {% for bid in bids %}
            <li>
                <p class="card-text" style="margin: 0;">Price: {{bid.price}}</p>
                <p class="card-text">Bidder: {{bid.bidder}}</p>
            </li>
            <br>
            {% empty %}
                <p class="card-text">No bids yet</p>
            {% endfor %}
        </ol>
    {% endif %}
    {% if not no_bids and not user.is_authenticated %}
        <a href="{% url 'login' %}">Log in to make a bid</a>
    {% endif %}
    <br>
    <h6>Details:</h6>
    <ul>
        <li>Listed by: {{list.owner.username}}</li>
        <li>
            Category: {{list.category}}
        </li>
    </ul>
    <p></p>
    <p><small class="text-muted">{{ list.date }}</small></p>
{% endblock %}
